<ion-header>
  <ion-toolbar>
    <ion-button slot="start" shape="round" (click)="goToHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">QRcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <style>
    #qr
    {
      height:100%;
      width:100vw;
      overflow:hidden;
      display:inline-flex;
      justify-content:center;
      align-items:center;
    }

    ngx-qrcode
    {
      height:100vh;
      width:100vw;
      display:inline-flex;
      align-items:center;
      justify-content:center;
    }

    #qrcode
    {
      height:100vh;
      width:100vw;
      display:inline-flex;
      justify-content:center;
      align-items:center;
    }

    .qr-class
    {
      height:100vh;
      width:100vw;
      display:inline-flex;
      justify-content:center;
      align-items:center;
    }
  </style>
  <div id="qr" *ngIf="qrData">
    <ngx-qrcode id="qrcode"
      [qrc-element-type]="elementType"
      [qrc-value]="qrData"
      qrc-class="qr-class"
      qrc-erjrorCorrectionLevel="H">
    </ngx-qrcode>
  </div>
</ion-content>
