<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" class="ion-text-center" (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Contacts" class="ion-text-center">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
