<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Allen</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Amaya Gaines</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Andrea</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Anissa Blackman</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Araceli Cruz</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Brenda Jackson</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>cece</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Candice Campbell</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Dad</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Danush</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Darleen Creech</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Douglass Behen</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Dianne glover</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Ebone Shines</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Ebone Shines</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Ebone Shines</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Lara</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start"><img src=""></ion-avatar>
        <ion-label>Louise Siebo</ion-label>
      </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Manju Suresh</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Ming Minor</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Moaki</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Mr.Hair</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Mrs.Pearl</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Sis Mo</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Thuy</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start"><img src=""></ion-avatar>
          <ion-label>Zipphorah</ion-label>
        </ion-item>
    </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
       <ion-tab-button tab="Home" class="ion-text-center" (click)="goToHome()">
         <ion-icon name="home"></ion-icon>
         <ion-label>Home</ion-label>
       </ion-tab-button>

       <ion-tab-button tab="Contacts" class="ion-text-center" selected="true">
         <ion-icon name="contact"></ion-icon>
         <ion-label>Contacts</ion-label>
       </ion-tab-button>
     </ion-tab-bar>
   </ion-tabs>
 </ion-toolbar>
</ion-footer>