<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Sign Up</ion-title>
    <ion-button slot="end" (click)="goToLogin()"> Log In</ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <form [formGroup]="validateSignupForm" (ngSubmit)="submitSignUpForm(validateSignupForm)">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.name">
        <div class="error-message" *ngIf="validateSignupForm.get('name').hasError(validation.type) && (validateSignupForm.get('name').dirty || validateSignupForm.get('name').touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" formControlName="username" [(ngModel)]="username"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.username">
        <div class="error-message" *ngIf="validateSignupForm.get('username').hasError(validation.type) && (validateSignupForm.get('username').dirty || validateSignupForm.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div formGroupName="matchingPasswords">
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="validateSignupForm.get('matchingPasswords').get('password').hasError(validation.type) && (validateSignupForm.get('matchingPasswords').get('password').dirty || validateSignupForm.get('matchingPasswords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
          <div class="error-message" *ngIf="validateSignupForm.get('matchingPasswords').get('confirmPassword').hasError(validation.type) && (validateSignupForm.get('matchingPasswords').get('confirmPassword').dirty || validateSignupForm.get('matchingPasswords').get('confirmPassword').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>

    <!-- These validations are for the Password form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.matchingPasswords">
        <div class="error-message" *ngIf="validateSignupForm.get('matchingPasswords').hasError(validation.type) && (validateSignupForm.get('matchingPasswords').get('confirmPassword').dirty || validateSignupForm.get('matchingPasswords').get('confirmPassword').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <div formGroupName="matchingEmails">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message" *ngIf="validateSignupForm.get('matchingEmails').get('email').hasError(validation.type) && (validateSignupForm.get('matchingEmails').get('email').dirty || validateSignupForm.get('matchingEmails').get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>Confirm Email</ion-label>
        <ion-input type="email" formControlName="confirmEmail"></ion-input>
      </ion-item>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirmEmail">
          <div class="error-message" *ngIf="validateSignupForm.get('matchingEmails').get('confirmEmail').hasError(validation.type) && (validateSignupForm.get('matchingEmails').get('confirmEmail').dirty || validateSignupForm.get('matchingEmails').get('confirmEmail').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
  </div>

    <!-- These validations are for the Email form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.matchingEmails">
        <div class="error-message" *ngIf="validateSignupForm.get('matchingEmails').hasError(validation.type) && (validateSignupForm.get('matchingEmails').get('confirmEmail').dirty || validateSignupForm.get('matchingEmails').get('confirmEmail').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input type="tel" formControlName="phone" [(ngModel)]="phone"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.phone">
        <div class="error-message" *ngIf="validateSignupForm.get('phone').hasError(validation.type) && (validateSignupForm.get('phone').dirty || validateSignupForm.get('phone').touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div text-center align-items-center>
        <ion-button style="margin-top:30px;" block text-center color="primary" ion-button type="submit" [disabled]="!validateSignupForm.valid">Sign Up</ion-button>
    </div>
  </form>
</ion-content>
