#content {
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    position: relative;
  }

  ion-content{
    --background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  ion-card{
    --ion-background-color :rgb(250, 251, 252);
    opacity: 0.7;
  }

  ion-header{
    --ion-background-color: linear-gradient(to right, rgb(246, 245, 250), rgba(199, 202, 202, 0.979));
  }

  .pad {
    padding-right: 10px;
}
