<!-- <script src="https://hammerjs.github.io/dist/hammer.js"></script> -->
<ion-header>
    <ion-toolbar>
        <ion-button fill="clear" (click)="goToHome()">
            <ion-icon name="arrow-back" color="dark"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen id="pContent" (swipe)="swipeEvent($event)">
    <ion-card lines="none">
        <ion-card-content class="ion-no-padding" lines="none">
            <ion-item lines="none" id="main">
                <ion-avatar>
                    <ion-img src="{{profile['photo']}}"></ion-img>
                </ion-avatar>
                <ion-label id="main-head">
                    {{profile['name']}}
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-grid class="social-grid">
        <ion-row *ngFor="let row of chunks">
            <ion-col *ngFor="let item of row" class="ion-text-center">
                <ion-avatar (click)="openPopover($event, item.name)">
                    <ion-img src="./assets/{{item.logo}}" style="background:white;"></ion-img>
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>