.pad {
    padding-right: 10px;
}
.user {
  ion-img {
    width: 40%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    position: relative
  }
  ion-text {
    font-size: 200%;
  }
}
