<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Login</ion-title>
    <ion-button class="signup"
     color="light" slot="end" size="small" (click)="signup()"> Sign Up
    <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <span>
    <ion-card>
      <ion-item lines="none">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" clearInput value="clear me"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" clearInput value="clear me" clearOnEdit="true"></ion-input>
      </ion-item>
    </ion-card>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="dark" (click)="login()"> Login </ion-button>
      </ion-col>
    </ion-row>
  </span>
  </div>
</ion-content>
