<ion-header transluscent>
  <ion-toolbar>
    <ion-button slot="end" shape="round" fill="clear" (click)="goToSettings()">
      <ion-icon color="dark" name="settings"></ion-icon>
    </ion-button>
    <ion-title>
      <ion-label>{{profile.name}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

ion-content>
  <ion-img src="{{profile.photo}}"></ion-img>

  <ion-item lines="none">
    <ion-button expand="block" color="white" class="edit">
      Edit Profile
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item-divider *ngFor="let divider of profile.socials">{{divider.profile}}
      <ion-item *ngFor="let account of divider.socialAccounts">{{account.id}}
      </ion-item>
    </ion-item-divider>
  </ion-list>
</ion-content>
