ion-grid {
  ion-avatar {
    ion-img {
      width: 70%;
      height: 70%;
    }
  }
}
ion-card {
  ion-grid {
    ion-avatar {
      ion-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
      }
    }
  }
}
