// * {
//   box-sizing: border-box;
// }

// .inset-modal {
//   position: absolute;
//   top: 0; 
//   bottom: 0;
//   left: 0;
//   right: 0;
//   margin: auto;
// }

// .clearfix::after {
//   content: "";
//   clear: both;
//   display: table;
//   width: auto;
//   overflow: auto;
// }

.button {
  vertical-align: top;
}

ion-img {
  position: fixed;
  width: 134px;
  height: 143px;
  float: left;
  right: 5px;
  bottom: 0;
  top: 0;
  left: 0;
  clear: left;
  // src: url("{{profile.photo}}");
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.name {
  position: absolute;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}
.bio {
  position: absolute;
  text-align: right;font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

// .instagram {
//   align-self: center;
//   position: absolute;
//   width: 101px;
//   height: 71px;
//   left: 1px;
//   top: 281px;

//   // background-image: url(1573268068_10069381+1ig110919.jpg);
//   border-radius: 20px;
// }

// .facebook {
//   position: absolute;
//   width: 81px;
//   height: 76px;
//   left: 110px;
//   top: 276px;

//   // background: url(facebook-3.jpg);
//   border-radius: 50px;
// }

// .snapchat {
//   position: absolute;
//   align-self: center;
//   left: 217px;
//   right: 113px;
//   top: 281px;
//   bottom: 379px;
  
//   // background-image: url(snapchat.jpg);
//   border-radius: 50px;
// }

// .tiktok {
//   position: absolute;
//   width: 60px;
//   height: 71px;
//   left: 324px;
//   top: 281px;
  
//   // background: url(tiktok.png);
//   border-radius: 20px;
// }

// .github {
//   position: absolute;
//   width: 79px;
//   height: 81px;
//   left: 12px;
//   top: 373px;
  
//   // background: url(github-icon-1.jpg);
//   border-radius: 50px;
// }

// .twitter {
//   position: absolute;
//   width: 81px;
//   height: 75px;
//   left: 110px;
//   top: 379px;
  
//   // background: url(twitter-3.jpg);
//   border-radius: 50px;
// }

// .linkedin {
//   position: absolute;
//   left: 218px;
//   right: 114px;
//   top: 373px;
//   bottom: 277px;
  
//   // background: url(linkedin-icon.jpg);
//   border-radius: 50px;
// }

// .whatsapp {
//   position: absolute;
//   width: 69px;
//   height: 75px;
//   left: 315px;
//   top: 379px;
  
//   // background: url(whatsapp-icon.jpg);
//   border-radius: 50px;
// }

// .tinder {
//   position: absolute;
//   width: 70px;
//   height: 82px;
//   left: 17px;
//   top: 469px;
  
//   // background: url(tinder-icon.jpg);
//   border-radius: 50px;
// }

// .steam {
//   position: absolute;
//   width: 81px;
//   height: 76px;
//   left: 107px;
//   top: 475px;
  
//   // background: url(steam-icon-logo.jpg);
//   border-radius: 50px;
// }

// .gmail {
//   position: absolute;
//   left: 214px;
//   right: 115px;
//   top: 481px;
//   bottom: 180px;
  
//   // background: url(gmail-icon.jpg);
// }

// .outlook {
//   position: absolute;
//   width: 75px;
//   height: 70px;
//   left: 317px;
//   top: 482px;
  
//   // background: url(outlook-icon.jpg);
// }

// .venmo {
//   position: absolute;
//   width: 79px;
//   height: 82px;
//   left: 10px;
//   top: 572px;
  
//   // background: url(246x0w.png);
//   border-radius: 50px;
// }

// .paypal {
//   position: absolute;
//   width: 81px;
//   height: 82px;
//   left: 107px;
//   top: 572px;
  
//   // background: url(paypal-icon.jpg);
// }

// .linkedin {
//   position: absolute;
//   left: 218px;
//   right: 114px;
//   top: 373px;
//   bottom: 277px;
  
//   // background: url(linkedin-icon.jpg);
//   border-radius: 50px;
// }

// .whatsapp {
//   position: absolute;
//   width: 69px;
//   height: 75px;
//   left: 315px;
//   top: 379px;
  
//   // background: url(whatsapp-icon.jpg);
//   border-radius: 50px;
// }