<ion-header transluscent>
  <ion-toolbar>
    <ion-button slot="end" shape="round" fill="clear" (click)="goToSettings()">
      <ion-icon color="dark" name="settings"></ion-icon>
    </ion-button>
    <ion-title>
      <ion-label>{{profile.name}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="{{profile.photo}}" slot="start"></ion-img>
  </ion-card>
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <div class ="wrapper" size="12">
          <ion-card>
            <ion-img src="{{profile.photo}}" slot="start"></ion-img>
            <ion-card-content slot="end">
              <div class="name">
                {{profile.name}}
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row> -->

    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>

        <div>
          2 of 4
        </div>
      </ion-col>
       <ion-col>

        <div>
          3 of 4
        </div>
      </ion-col>
       <ion-col>
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none">
    <ion-button expand="block" color="white" class="edit">
      Edit Profile
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item-divider *ngFor="let divider of profile.socials">{{divider.profile}}
      <ion-item *ngFor="let account of divider.socialAccounts">{{account.id}}
      </ion-item>
    </ion-item-divider>
  </ion-list>
</ion-content>
