<ion-header>
  <ion-toolbar>
    <ion-searchbar class="search">  </ion-searchbar>
    <ion-button slot="end" fill="clear" (click)="goToCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content (swipe)="swipe($event)">
  <!-- main profile -->
  <ion-item id = "main" button (click)="goToProfile()">
    <ion-avatar>
      <ion-img src = "{{profile.photo}}"></ion-img>
    </ion-avatar>
    <ion-label  id = "main-head">
      {{profile.name}}
    </ion-label>
    <ion-text id = "main-title">
      Available
    </ion-text>
  </ion-item>
  <!-- default QR Code -->
  <div>
    <div id="qr" *ngIf="qrData" (click)="goToQRCode()">
      <ngx-qrcode id="qrcode"
        [qrc-element-type]="elementType"
        [qrc-value]="qrData"
        qrc-class="qr-class"
        qrc-erjrorCorrectionLevel="H">
      </ngx-qrcode>
    </div>
  </div>
  <!-- list of contacts -->
  <div id="contacts">
    <ion-card *ngFor="let contact of profile.contacts" (click)="goToUserContact(contact)">
      <ion-card-content>
        <ion-avatar>
          <ion-img src = "{{contact.photo}}"></ion-img>
        </ion-avatar>
        <ion-title>{{contact.name}}</ion-title>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
