.pad {
    padding-right: 10px;
}
.user {
  ion-img {
    width: 40%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    position: relative
  }
  ion-text {
    font-size: 200%;
  }
}
.search{
  border-radius: 25px;
}
.contact{
  widht: 40%;
}

ion-avatar{
  height : 15vh;
  width : 15vh;
}

ion-card{
  border-radius: 50pt;
}