<ion-header>
    <ion-toolbar>
      <ion-button slot="start" fill="clear" shape="round" (click)="goHome()">
        <ion-icon color="dark" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill = "clear" shape="round" (click)="logOut()">
        <ion-icon color="dark" name="log-out"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">
        Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Personal Account</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Followers </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Social Accounts</ion-label>
      </ion-item>

      <ion-item-divider>
          <ion-label>Business Account</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>Followers </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Business Accounts</ion-label>
        </ion-item>

      <ion-item-divider>
        <ion-label>Support</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>FAQ</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Contacts</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Customize Contacts</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
